body {
	background-color: black;
}

.navbar {
	background-color: #333;
}

#navbar {
	width: 800px;
	height: 40px;
}

#navbar >li {
	width: 70px;
	list-style: none;
	float: left;
}

li>a {
	display: block;
	color: white;
	line-height: 50px;
	text-decoration: none;
	font-size: 20px;
}

li>a:hover,
    focus {
    background-color: black;
    color: yellow;
    text-align: center;
}

#skills {
	margin-left: 25px;
}